<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.datahub.martTrnsAcdntOcrnBrnch.mapper.MartTrnsAcdntOcrnBrnchMapper">
    <select id="selectOffeList" parameterType="martTrnsAcdntOcrnBrnch" resultType="martTrnsAcdntOcrnBrnch">
        select
        id,
        dat_st_id,
        crt_dt,
        mdfcn_dt,
        acdnt_info_id,
        acdnt_info_id_crt_dt,
        acdnt_info_id_mdfcn_dt,
        acdnt_ocrn_pstn,
        acdnt_ocrn_pstn_crt_dt,
        acdnt_ocrn_pstn_mdfcn_dt,
        spce_nm,
        spce_nm_crt_dt,
        spce_nm_mdfcn_dt,
        acdnt_ocrn_no,
        engn_code,
        acdnt_ocrn_yr,
        acdnt_ocrn_ymd,
        acdnt_ocrn_ddwk_cd,
        acdnt_ocrn_ddwk,
        dan_cd,
        dan_se,
        acdnt_ocrn_hr_cd,
        acdnt_ocrn_hr,
        stdg_cd,
        stdg_nm,
        acdnt_type_lclsf_cd,
        acdnt_type_lclsf,
        acdnt_type_sclsf_cd,
        acdnt_type_sclsf,
        acdnt_type_cd,
        acdnt_type_dtl,
        rg_vltn_cd,
        rg_vltn,
        acdnt_ocrn_pstn_xcrd,
        acdnt_ocrn_pstn_ycrd,
        wetr_stts_cd,
        wetr_stts,
        road_stle_cd,
        road_stle,
        hhdgw_at,
        wod_dge_cd,
        wod_dge,
        dcsd_cnt,
        swsn_cnt,
        sijn_cnt,
        inj_dcl_cnt,
        offe_vhcl_carmdl_lclsf_cd,
        offe_vhcl_carmdl_lclsf,
        offe_vhcl_carmdl_cd,
        offe_vhcl_carmdl,
        ar_wod_dge_lclsf_cd,
        ar_wod_dge_lclsf,
        ar_wod_dge_clsf_cd,
        ar_wod_dge_clsf,
        ar_age_cd,
        ar_age,
        ar_sexd_cd,
        ar_sexd,
        dmge_vhcl_carmdl_lclsf_cd,
        dmge_vhcl_carmdl_lclsf,
        dmge_vhcl_carmdl_cd,
        dmge_vhcl_carmdl,
        vm_wod_dge_lclsf_cd,
        vm_wod_dge_lclsf,
        vm_wod_dge_clsf_cd,
        vm_wod_dge_clsf,
        vm_age_cd,
        vm_age,
        vm_sexd_cd,
        vm_sexd,
        spt_otlnmap_at,
        rdse_stts_cd,
        rdse_stts,
        acdnt_ocrn_plc,
        acdnt_expln,
        road_div,
        road_no,
        road_nm,
        otn_acdnt_no,
        pol_sta_code,
        oot_se_cd,
        oot_se,
        acc_cls_partcarea,
        pol_acdnt_no,
        sel_fcr,
        road_type,
        intndnc_id,
        office_id,
        moct_link_id,
        acdnt_frm_lv1,
        acdnt_frm_lv2,
        acdnt_frm_lv3,
        acdnt_sta_lv1,
        acdnt_sta_lv2,
        cd_069,
        ar_wod_pt_cd,
        ar_wod_pt,
        vm_wod_pt_cd,
        vm_wod_pt,
        frst_rgtr_id,
        frst_reg_dt,
        last_rene_id,
        last_updt_dt,
        acc_cls
        from datamart.trns_acdnt_ocrn_brnch
        <where>
            <if test="isNotNull(crtDt)" > crt_dt >= #{crtDt} </if>
            AND offe_vhcl_carmdl_lclsf_cd = '210'
        </where>
        order by crt_dt
    </select>

    <select id="selectDmgeList" parameterType="martTrnsAcdntOcrnBrnch" resultType="martTrnsAcdntOcrnBrnch">
        select
        id,
        dat_st_id,
        crt_dt,
        mdfcn_dt,
        acdnt_info_id,
        acdnt_info_id_crt_dt,
        acdnt_info_id_mdfcn_dt,
        acdnt_ocrn_pstn,
        acdnt_ocrn_pstn_crt_dt,
        acdnt_ocrn_pstn_mdfcn_dt,
        spce_nm,
        spce_nm_crt_dt,
        spce_nm_mdfcn_dt,
        acdnt_ocrn_no,
        engn_code,
        acdnt_ocrn_yr,
        acdnt_ocrn_ymd,
        acdnt_ocrn_ddwk_cd,
        acdnt_ocrn_ddwk,
        dan_cd,
        dan_se,
        acdnt_ocrn_hr_cd,
        acdnt_ocrn_hr,
        stdg_cd,
        stdg_nm,
        acdnt_type_lclsf_cd,
        acdnt_type_lclsf,
        acdnt_type_sclsf_cd,
        acdnt_type_sclsf,
        acdnt_type_cd,
        acdnt_type_dtl,
        rg_vltn_cd,
        rg_vltn,
        acdnt_ocrn_pstn_xcrd,
        acdnt_ocrn_pstn_ycrd,
        wetr_stts_cd,
        wetr_stts,
        road_stle_cd,
        road_stle,
        hhdgw_at,
        wod_dge_cd,
        wod_dge,
        dcsd_cnt,
        swsn_cnt,
        sijn_cnt,
        inj_dcl_cnt,
        offe_vhcl_carmdl_lclsf_cd,
        offe_vhcl_carmdl_lclsf,
        offe_vhcl_carmdl_cd,
        offe_vhcl_carmdl,
        ar_wod_dge_lclsf_cd,
        ar_wod_dge_lclsf,
        ar_wod_dge_clsf_cd,
        ar_wod_dge_clsf,
        ar_age_cd,
        ar_age,
        ar_sexd_cd,
        ar_sexd,
        dmge_vhcl_carmdl_lclsf_cd,
        dmge_vhcl_carmdl_lclsf,
        dmge_vhcl_carmdl_cd,
        dmge_vhcl_carmdl,
        vm_wod_dge_lclsf_cd,
        vm_wod_dge_lclsf,
        vm_wod_dge_clsf_cd,
        vm_wod_dge_clsf,
        vm_age_cd,
        vm_age,
        vm_sexd_cd,
        vm_sexd,
        spt_otlnmap_at,
        rdse_stts_cd,
        rdse_stts,
        acdnt_ocrn_plc,
        acdnt_expln,
        road_div,
        road_no,
        road_nm,
        otn_acdnt_no,
        pol_sta_code,
        oot_se_cd,
        oot_se,
        acc_cls_partcarea,
        pol_acdnt_no,
        sel_fcr,
        road_type,
        intndnc_id,
        office_id,
        moct_link_id,
        acdnt_frm_lv1,
        acdnt_frm_lv2,
        acdnt_frm_lv3,
        acdnt_sta_lv1,
        acdnt_sta_lv2,
        cd_069,
        ar_wod_pt_cd,
        ar_wod_pt,
        vm_wod_pt_cd,
        vm_wod_pt,
        frst_rgtr_id,
        frst_reg_dt,
        last_rene_id,
        last_updt_dt,
        acc_cls
        from datamart.trns_acdnt_ocrn_brnch
        <where>
            <if test="isNotNull(crtDt)" > crt_dt >= #{crtDt} </if>
            AND dmge_vhcl_carmdl_lclsf_cd = '210'
        </where>
        order by crt_dt
    </select>
</mapper>