@charset "utf-8"; html, body {
    width: 100%;
    height: auto;
}

.subWrap {
    height: auto;
}

.header {
    width: 100%;
    height: 72px;
    position: fixed;
    background: linear-gradient(270deg, #055ab5, #1d8be9);
    z-index: 3000;
}

.contents {
    width: 100%;
    height: auto;
    min-height: 100vh;
    position: relative;
}

.header .logo {
    position: absolute;
    top: 0;
    height: 100%;
}

.header .logo a {
    height: 100%;
    display: block;
    width: 100%;
}

.header .logo a img {
    position: absolute;
    top: 22px;
    left: 15px;
}

.header .gnb {
    position: absolute;
    top: 0;
    left: 410px;
}

.header .gnb > ul {
    text-align: center;
    font-size: 0;
}

.header .gnb > ul > li {
    float: left;
    position: relative;
    height: 100%;
}

.header .gnb > ul > li:hover:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 5px;
    background: #3d6ad6;
}

.header .gnb > ul > li.on:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 5px;
    background: #3d6ad6;
}

.header .gnb > ul > li > a {
    font-size: 17px;
    color: #000;
    font-weight: 500;
    padding: 0 28px;
    height: 100%;
    line-height: 70px;
}

.header .util {
    position: absolute;
    top: 26px;
    right: 30px;
}

.header .util ul li {
    float: left;
    position: relative;
}

.header .util ul li:after {
    position: absolute;
    content: "";
    width: 1px;
    height: 15px;
    background: #ffffff;
    top: 0px;
    left: 1px;
}

.header .util ul li:nth-child(1):after {
    width: 0;
}

.header .util ul li a {
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    text-transform: capitalize;
    padding: 0 15px;
}

.user-footer div a {
    line-height: 40px;
    border-color: white;
}

.sub-open-btn {
    display: none;
    position: absolute;
    top: 25px;
    right: 26px;
    width: 26px;
    height: 22px;
    background: url("../images/mobile/ico_m_btn.png") no-repeat left top;
    font-size: 0;
}


.lnb_depth2__list > li > a {
    position: relative;
    display: block;
    line-height: 1.2;
    padding: 16px 35px 13px 20px;
}

.lnb_depth2__list > li > a:before {
    display: block;
    position: absolute;
    z-index: 1;
    right: 18px;
    top: 22px;
    content: '';
    width: 6px;
    height: 6px;
    border: solid #585c62;
    border-width: 0 1px 1px 0;
}

.lnb_depth2__list > li > a:after {
    display: block;
    position: absolute;
    right: 10px;
    top: 15px;
    content: '';
    width: 19px;
    height: 19px;
    /* border: 1px solid #cacaca; */
    border-radius: 50%;
}

.lnb_depth2__list > li > a[target="_blank"]:before {
    display: inline-block;
    content: '';
    right: 15px;
    width: 11px;
    height: 12px;
    border: none;
    background: url(/common/tmpl/skinD/img/target.png)no-repeat;
    vertical-align: middle;
    transform: none;
    -webkit-transform: none;
}

.lnb_depth2__list > li > a[target="_blank"]:after {
    display: none;
}

.lnb_depth2__list > li > a > span {
    position: relative;
    display: inline-block;
    line-height: 1.2;
    word-wrap: break-word;
    word-break: keep-all;
    font-size: 17px;
    font-weight: 500;
    color: #808080;
}

.lnb_depth2__list > li.on {
    padding: 0;
    ;margin-bottom: -2px;
    border-top: 0px;
    border-bottom: 0px;
}

.lnb_depth2__list > li.on > a {
}

.lnb_depth2__list > li.on > a:before {
    border-color: #fff;
    border-width: 0px 1px 1px 0;
}

.lnb_depth2__list > li.on > a > span {
    color: #fff;
    font-weight: 500;
}

.lnb_depth2__list .lnb_depth3__list {
    display: none;
    overflow: hidden;
    height: 0;
    margin: 0 10px 13px;
    text-align: left;
    transition: all .4s;
    -webkit-transition: all .4s;
    background: #152338;
}

.lnb_depth2__list .lnb_depth3__list > li {
    position: relative;
}

.lnb_depth2__list .lnb_depth3__list > li:before {
    background: url(../images/cmn/lnb3.png) no-repeat top 0px left 0px !important;
}

.lnb_depth2__list .lnb_depth3__list > li:last-child {
    background: none;
}

.lnb_depth2__list .lnb_depth3__list > li.on {background: #025bb466;}

.lnb_depth2__list .lnb_depth3__list > li > a {
    display: block;
    position: relative;
    z-index: 2;
}

.lnb_depth2__list .lnb_depth3__list > li > a:after {
    display: block;
    position: absolute;
    right: 18px;
    top: 50%;
    width: 5px;
    height: 5px;
    margin-top: -3px;
    border: solid #cecfd1;
    border-width: 1px 1px 0 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.lnb_depth2__list .lnb_depth3__list > li.on > a:after {
}

.lnb_depth2__list .lnb_depth3__list > li > a[target="_blank"]:after {
    right: 5px;
    width: 11px;
    height: 12px;
    margin-top: -6px;
    border: none;
    background: url(/common/tmpl/skinD/img/target.png)no-repeat;
    transform: none;
    -webkit-transform: none;
}

.lnb_depth2__list .lnb_depth3__list > li > span {
    display: inline-block;
    position: relative;
    font-size: 16px;
    color: #3e434a;
}

.lnb_depth2__list .lnb_depth3__list > li.on > a span {
    font-weight: 500;
    color: #2C7B88;
}

.lnb_depth2__list > li > a:hover .lnb_depth3__list, .lnb_depth2__list > li > a:focus .lnb_depth3__list, .lnb_depth2__list > li.on .lnb_depth3__list, .lnb_depth2__list > li.ov .lnb_depth3__list, .lnb_depth3__list.on, .lnb_depth3__list.open {
    display: block !important;
    visibility: visible;
    height: auto;
    margin-top: 20px;
}

.lnb_depth2__list > li.on .lnb_depth3__list {
    margin: 0px;
}

.lnb {
    width: 290px;
    background: #1d3150;
    height: 100%;
    position: fixed;
    top: 60px;
    padding-top: 30px;
    z-index: 2000;
}

.lnb ul li {
    position: relative;
    transition: 0.2s;
}


.lnb > div > ul > li:not(.on) > a:hover {
    background: #04101c;
}

.lnb ul li a {
    position: relative;
}

.lnb > div > ul > li.on, .lnb > div > ul > li:has(li.on) > a, .lnb > div > ul > li:has(li.on) > a:hover {
    background: #045bb4;
}

.treeview-menu > li:not(.on) {
    background: #04101c;
}

.treeview > ul  {
    background: #025bb466;
}

.lnb ul li:before {
    position: absolute;
    content: "";
    top: 16px;
    left: 27px;
}

.lnb ul li a:before {
    position: absolute;
    content: "";
    top: 18px;
    left: 59px;
    background: #ffffff;
    width: 1px;
    height: 17px;
}

.lnb ul li.treeview:after {
    position: absolute;
    content: "";
    width: 5px;
    height: 10px;
    background: url("../images/cmn/ico_lnb_arrow.png") no-repeat center;
    top: 23px;
    right: 25px;
}

.lnb ul li.treeview.active:after {
    transform: rotate(90deg);
}

.lnb ul li:nth-child(1):before {
    width: 20px;
    height: 20px;
    background: url("../images/cmn/ico_lnb1.png");
    z-index: 99;
}

.lnb ul li:nth-child(2):before {
    width: 20px;
    height: 20px;
    background: url("../images/cmn/ico_lnb2.png");
    z-index: 99;
}

.lnb ul li:nth-child(3):before {
    width: 20px;
    height: 20px;
    background: url("../images/cmn/ico_lnb3.png");
    z-index: 99;
}

.lnb ul li:nth-child(4):before {
    width: 20px;
    height: 20px;
    background: url("../images/cmn/ico_lnb4.png");
    z-index: 99;
}

.lnb ul li:nth-child(5):before {
    width: 20px;
    height: 20px;
    background: url("../images/cmn/ico_lnb5.png");
    left: 26px;
    z-index: 99;
}

.lnb ul li:nth-child(6):before {
    width: 17px;
    height: 18px;
    background: url("../images/cmn/ico_lnb6.png");
    z-index: 99;
}

.lnb ul li:nth-child(7):before {
    width: 18px;
    height: 20px;
    background: url("../images/cmn/ico_lnb7.png");
    z-index: 99;
}

.lnb ul li:nth-child(8):before {
    width: 19px;
    height: 17px;
    background: url("/images/cmn/ico_lnb8.png");
    z-index: 99;
}

.lnb ul li:nth-child(9):before {
    width: 18px;
    height: 18px;
    background: url("/images/cmn/ico_lnb9.png");
    z-index: 99;
}

.lnb ul li:nth-child(10):before {
    width: 18px;
    height: 18px;
    background: url("/images/cmn/ico_lnb10.png");
    z-index: 99;
}

.lnb ul li:nth-child(11):before {
    width: 18px;
    height: 18px;
    background: url("/images/cmn/ico_lnb11.png");
    z-index: 99;
}

.lnb ul li a {
    color: #fff;
    font-weight: 400;
    padding: 19px 0;
    display: block;
    padding-left: 75px;
}

.contentsBody {
    float: left;
    width: 100%;
    min-height: 100%;
    padding: 115px 60px 30px 350px;
    position: relative;
}

.footer {
    border-top: 1px solid #dfdfdf;
    clear: left;
    background: #ffffff;
    position: relative;
    z-index: 5000;
}

.footer .footerLink {
    padding: 0 2%;
    border-bottom: 1px solid #dfdfdf;
}

.footer .footerLink ul li {
    float: left;
    position: relative;
}

.footer .footerLink ul li:after {
    position: absolute;
    content: "";
    top: 19px;
    left: 0;
    width: 1px;
    height: 12px;
    background: #bdbdbd;
}

.footer .footerLink ul li:first-child:after {
    width: 0;
}

.footer .footerLink ul li a {
    line-height: 50px;
    display: block;
    color: #000;
    padding: 0 15px;
}

.footer .footerInfo {
    padding: 0 2%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer .footerInfo img {
    float: left;
    margin-right: 50px;
    margin-top: 22px;
}

.footer .footerInfo .footerTxt {
    float: left;
    font-weight: 300;
    line-height: 1.5;
}

.footer .footerInfo .selectSiteMap {
    float: right;
}

.m-menu-bg {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 3000;
    display: none;
    bottom: 0px;
    left: 0px;
}

.m-menu-con {
    position: fixed;
    top: 0px;
    bottom: 0;
    right: -100%;
    width: 80%;
    max-width: 460px;
    height: 100vh;
    background: rgb(255, 255, 255);
    z-index: 3300;
    display: none;
}

.m-menu-con .m-header-top {
    background: linear-gradient(44deg, #208be9, #055cb5);
    padding: 70px 20px 20px;
    position: relative;
}

.m-menu-con .m-header-top p {
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 27px;
    font-weight: 500;
}

.m-menu-con .m-header-top strong {
    display: block;
}

.m-menu-con .m-header-top .sub-open-close {
    width: 31px;
    height: 31px;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 50px;
    background: url("../images/mobile/ico_close_btn.png") left top no-repeat;
}

.m-menu-con .m-header-top .m-sub-btn {
    margin-top: 20px;
}

.m-menu-con .m-header-top .m-sub-btn a {
    color: rgb(255, 255, 255);
    display: inline-block;
    border: 1px solid rgb(255, 255, 255);
    padding: 7px 20px 4px 20px;
}

.m-menu-con .m-header-top .m-sub-btn .btn-login, .m-menu-sub-btn {
    margin-right: 8px;
}

.m-menu-con .area-tit {
    width: 100%;
    height: 60px;
    display: block;
    background: rgb(32, 36, 41);
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 60px;
    font-size: 17px;
}

.m-menu-con .m-menu-area {
    background: rgb(43, 48, 54);
    height: 100%;
    position: relative;
}

.m-menu-area > ul {
    overflow: auto;
    height: 100%;
    background: #e5e5e5;
}

.m-menu-area > ul > li> a {
    background: #e5e5e5;
    display: block;
    width: 150px;
    padding: 17px 15px;
    color: #505050;
    font-weight: 500;
}

.m-menu-area .menuRight {
    position: absolute;
    top: 0;
    left: 150px;
    width: calc(100% - 150px);
    background: #fff;
    height: 100vh;
    padding-top: 12px;
    display: none;
}

.m-menu-area .menuRight > ul > li > a {
    color: #141414;
    font-weight: 500;
    font-size: 15px;
    padding: 14px 30px;
    padding-left: 24px;
    display: block;
    word-break: keep-all;
}

.menuLeft.on {
    background: #303030;
    color: #fff;
}

.menuRight.on {
    display: block;
}

.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidebar-menu > li {
    position: relative;
    margin: 0;
    padding: 0;
}
.sidebar-menu > li > a {
    padding: 12px 5px 12px 15px;
    display: block;
}
.sidebar-menu > li > a > .fa,
.sidebar-menu > li > a > .glyphicon,
.sidebar-menu > li > a > .ion {
    width: 20px;
}
.sidebar-menu > li .label,
.sidebar-menu > li .badge {
    margin-top: 3px;
    margin-right: 5px;
}
.sidebar-menu li.header {
    padding: 10px 25px 10px 15px;
    font-size: 12px;
}
.sidebar-menu li > a > .fa-angle-left {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
    margin-top: 3px;
}
.sidebar-menu li.active > a > .fa-angle-left {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.sidebar-menu li.active > .treeview-menu {
    display: block;
    padding: 0;
}
.sidebar-menu .treeview-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebar-menu .treeview-menu .treeview-menu {
    padding-left: 20px;
}
.sidebar-menu .treeview-menu > li {
    margin: 0;
    /* background:url(../images/btn_over.png) 5px 9px no-repeat */
}
/*.sidebar-menu .treeview-menu > li > a {
  padding: 0 3px 5px 18px;
  display: block;
  font-size: 14px;
  background-color: #2c3038;
  margin-top: 5px;
  height: 30px;
}*/
.sidebar-menu .treeview-menu > li > a > .fa,
.sidebar-menu .treeview-menu > li > a > .glyphicon,
.sidebar-menu .treeview-menu > li > a > .ion {
    width: 20px;
}
.sidebar-menu .treeview-menu > li > a > .fa-angle-left,
.sidebar-menu .treeview-menu > li > a > .fa-angle-down {
    width: auto;
}
