.map {
    position: relative;
}

#mapModalButton, #dimensionControlButton {
    position: absolute;
    background: rgba(27, 136, 230, 0.26);
    color: #fff;
    cursor: pointer;
    text-align: center;
    border: 1px solid #0c6bc7;
    z-index: 99;
}

#dimensionControlButton {
    right: 0;
    height: 30px;
    line-height: 30px;
    width: 100px;
}

#dimensionControlButton > div{
    font-size: 13px;
}
#dimensionControlButton > div{
    width: 50%;
    float: left;
}
#dimensionControlButton > div.select,  #dimensionControlButton > div:hover {width: 50%; cursor: pointer; background: rgba(27, 136, 230, 0.77);}
#dimensionControlButton img {
    padding-top: 5px;
    width: 15px;
    height: 15px;
}

.listPop {
    width: 515px;
    height: 800px;
}

.comparePop {
    width: 700px;
    height: 650px;
}

#zoneList {
    height: 560px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#zoneList img, #zoneList div {
    float: left;
}
#zoneList .zoneInfo-zoneList-list-item-disabled {
    width: 40px;
    height: 40px;
}
.zoneInfo-zoneList-list-item {
    width: 100%;
    height: 60px;
    padding-top: 11px;
    cursor: pointer;
}
.zoneInfo-zoneList-list-item .address{
    margin-top: 5px;
    overflow: hidden;
    width: 400px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.zoneInfo-zoneList-list-item:hover {
    background: #e0f3ff;
}
.noSafetyAreaData {
    text-align: center;
    height: 100px;
    line-height: 100px;
    font-size: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: none;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.fade.in {
    opacity: 1;
}
.zoneInfo-zoneList-list-item:hover,  .zoneInfo-zoneList-list-item.select{
    background: #e0f3ff;
}
/** progress **/
.progress-body {
     display: none;
     position: fixed;
     background: white;
     width: calc(100% - 290px);
     height: 100%;
     z-index: 1500;
     top:70px;
     left:290px;
     opacity: 0.5;
 }
.progress-content {
    border-radius: 20px;
    width: 120px;
    height: 120px;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    background: url('/images/spinner.gif');
    background-size: cover;
}
.selectYear {
    width: 90px;
    -webkit-appearance:none; /* 크롬 화살표 없애기 */
    -moz-appearance:none; /* 파이어폭스 화살표 없애기 */
    appearance:none; /* 화살표 없애기 */
    border: none!important;
}
.selectMonth {
    width: 70px;
    -webkit-appearance:none; /* 크롬 화살표 없애기 */
    -moz-appearance:none; /* 파이어폭스 화살표 없애기 */
    appearance:none; /* 화살표 없애기 */
    border: none!important;
}
#detailInfo-searchCondition-monthOption .selectYear{
    width: 60px;
}
.noDataMessage {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
}

.endDateSelect {
    background: url('/images/cmn/ico_calendar.png') no-repeat 90% 50%;
}

.zoneInfo-zoneList-total {
    display: flex;
    line-height: 40px;
    border-bottom: 2px solid #1b88e6;
}

.zoneInfo-zoneList-total input{
    min-width: 30px;
}

.zoneInfo-zoneList-total input, .zoneInfo-zoneList-total p{
    margin-left: 5px;
    font-size: 13px;
}

.weatherChart img {
    width: 25px;
    height: 25px;
    float: left;
}

.weatherChart span {
    height: 25px;
    line-height: 25px;
    font-weight: 200;
    font-size: 13px;
    float: left;
}