<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.jcms.framework.cd.mapper.CdClsMapper">

	<sql id="tb"> JCMS_CD_CLS </sql>
	<sql id="jtb"> JCMS_CD_CLS </sql>
	<sql id="s">
		SELECT CD_CLS_ID, CD_CLS_NM, CD_CLS_DESC, REC_ST, REG_ID, REG_DT, UPD_ID, UPD_DT
 	</sql>
	<sql id="l">
		SELECT CD_CLS_ID, CD_CLS_NM, CD_CLS_DESC, REC_ST
	</sql>
	<sql id="sf"> FROM <include refid="tb"/> </sql>
	<sql id="lf"> FROM <include refid="jtb"/> </sql>
	<sql id="sw">
		WHERE CD_CLS_ID = #{cdClsId}
			AND DEL_DT IS NULL
	</sql>
	<sql id="lw">
		WHERE DEL_DT IS NULL
		<if test="!empty(recSt)"> AND REC_ST = #{recSt} </if>
		<if test="!empty(cdClsId)"> AND CD_CLS_ID = #{cdClsId} </if>
	</sql>
	<sql id="ord">
		<if test="!empty(sort) and !empty(sortOrd)"> ORDER BY ${sort} ${sortOrd} </if>
		<if test="pagingYn == true"> limit #{start}, #{length} </if>
	</sql>


	<select id="select" parameterType="cdCls" resultType="cdCls">
		<include refid="s"/>
		<include refid="sf"/>
		<include refid="sw"/>
	</select>

	<select id="selectList" parameterType="cdCls" resultType="cdCls">
		<include refid="l"/>
		<include refid="lf"/>
		<include refid="lw"/>
	</select>
	
	<select id="count" parameterType="cdCls" resultType="java.lang.Integer">
		SELECT COUNT(CD_CLS_ID)
		<include refid="lf"/>
		<include refid="lw"/>
	</select>
	
	<select id="existCount" parameterType="cdCls" resultType="java.lang.Integer">
		SELECT COUNT(CD_CLS_ID)
		<include refid="sf"/>
		WHERE DEL_DT IS NULL
			AND (CD_CLS_ID = #{cdClsId} OR CD_CLS_NM = #{cdClsNm})
	</select>

	<insert id="insert" parameterType="cdCls">
		INSERT INTO <include refid="tb"/> (
			CD_CLS_ID, CD_CLS_NM, CD_CLS_DESC, REC_ST, REG_ID, REG_DT
		) VALUES (
			#{cdClsId}, #{cdClsNm}, #{cdClsDesc}, #{recSt}, #{regId}, SYSDATE()
		)
	</insert>
	
	<update id="update" parameterType="cdCls">
		UPDATE <include refid="tb"/>
		SET <include refid="BaseSql.Update"/>
			, CD_CLS_NM = #{cdClsNm}
			, CD_CLS_DESC = #{cdClsDesc}
			, REC_ST = #{recSt}
		WHERE CD_CLS_ID = #{cdClsId}
		    AND DEL_DT IS NULL
	</update>

</mapper>