<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.jcms.framework.file.mapper.FileItemMapper">

	<sql id="tb"> JCMS_FILE_ITEM </sql>
	<sql id="jtb"> JCMS_FILE_ITEM </sql>
	<sql id="s">
		SELECT FILE_ID, ITEM_ID, FILE_NM, FILE_EXT, MEDIA_TP, FILE_SIZE, SAVE_PATH, SAVE_FILE_NM, DWN_CNT, REG_ID, REG_DT
 	</sql>
	<sql id="l">
		SELECT FILE_ID, ITEM_ID, FILE_NM, FILE_EXT, MEDIA_TP, FILE_SIZE, SAVE_PATH, SAVE_FILE_NM, DWN_CNT, REG_ID, REG_DT
	</sql>
	<sql id="sf"> FROM <include refid="tb"/> </sql>
	<sql id="lf"> FROM <include refid="jtb"/> </sql>
	<sql id="sw">
		WHERE 1 = 1
			<if test="!empty(fileId)" > AND FILE_ID = #{fileId} </if>
			<if test="itemId != null" > AND ITEM_ID = #{itemId} </if>
	</sql>
	<sql id="lw">
		WHERE 1 = 1
			<if test="!empty(fileId)" > AND FILE_ID = #{fileId} </if>
			<if test="itemId != null" > AND ITEM_ID = #{itemId} </if>
	</sql>
	<sql id="ord">
		<if test="!empty(sort) and !empty(sortOrd)"> ORDER BY ${sort} ${sortOrd} </if>
		<if test="pagingYn == true"> limit #{start}, #{length} </if>
	</sql>


	<select id="select" parameterType="fileItemSearch" resultType="fileItem">
		<include refid="s"/>
		<include refid="sf"/>
		<include refid="sw"/>
	</select>
	
	<select id="selectList" parameterType="fileItemSearch" resultType="fileItem">
		<include refid="l"/>
		<include refid="lf"/>
		<include refid="lw"/>
		<include refid="ord"/>
	</select>
	
	<select id="selectSerial" parameterType="java.lang.String" resultType="java.lang.Integer" >
  		SELECT IFNULL(MAX(ITEM_ID), 0)+1
		<include refid="sf"/>
		WHERE FILE_ID = #{fileId}
  	</select>
	
	<insert id="insert" parameterType="fileItem" >
		INSERT INTO <include refid="tb"/> (
			FILE_ID, FILE_NM, FILE_EXT, MEDIA_TP, FILE_SIZE, SAVE_PATH, SAVE_FILE_NM, DWN_CNT, REG_ID, REG_DT
		) VALUES (
			#{fileId,jdbcType=NUMERIC}, #{fileNm}, #{fileExt}, #{mediaTp}, #{fileSize}, #{savePath}, #{saveFileNm}, 0, #{regId}, SYSDATE()
		)
	</insert>

	<delete id="delete" parameterType="fileItem">
		DELETE FROM <include refid="tb"/>
		WHERE FILE_ID = #{fileId}
			AND ITEM_ID = #{itemId}
	</delete>
	
	<delete id="updateFileId" parameterType="fileItem">
		UPDATE <include refid="tb"/>
		SET FILE_ID = #{fileId}
		WHERE ITEM_ID = #{itemId,jdbcType=VARCHAR}
	</delete>
	
	<update id="updateDwnCnt" parameterType="java.lang.Long">
		UPDATE <include refid="tb"/>
		SET DWN_CNT = DWN_CNT+1
		WHERE ITEM_ID = #{itemId}
	</update>

</mapper>
