<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.jcms.framework.security.mapper.LoginLogMapper">

	<resultMap id="loginLogUser" type="loginLog">
		<constructor />
		<id property="loginLogId" column="LOGIN_LOG_ID" />
		<result property="userId" column="USER_ID" />
		<result property="loginIp" column="LOGIN_IP" />
		<result property="loginDt" column="LOGIN_DT" />
		<result property="logoutDt" column="LOGOUT_DT" />
		<association property="user" javaType="userSearch">
			<id property="userId" column="USER_ID"  />
			<result property="userLoginId" column="USER_LOGIN_ID"  />
			<result property="userNm" column="USER_NM"  />
		</association>
	</resultMap>

	<select id="selectList" parameterType="loginLogSearch" resultMap="loginLogUser">
		SELECT
			A.*, B.USER_LOGIN_ID, B.USER_NM
		FROM JCMS_LOGIN_LOG A LEFT JOIN JCMS_USER B ON A.USER_ID = B.USER_ID
		WHERE 1 = 1
			<if test="!empty(user.userId)" > AND A.USER_ID = #{user.userId} </if>
			<if test="!empty(userLoginIdLike)" > AND B.USER_LOGIN_ID LIKE CONCAT('%', #{userLoginIdLike}, '%') </if>
			<if test="!empty(userNmLike)" > AND B.USER_NM LIKE CONCAT('%', #{userNmLike}, '%') </if>
			<if test="!empty(loginIpLike)" > AND A.LOGIN_IP LIKE CONCAT('%', #{loginIpLike}, '%') </if>
		<if test="!empty(sort) and !empty(sortOrd)"> ORDER BY ${sort} ${sortOrd} </if>
	    <if test="pagingYn == true" > limit #{start}, #{length} </if>
	</select>
	
	<select id="count" parameterType="loginLogSearch" resultType="java.lang.Integer">
		SELECT COUNT(*)
		FROM JCMS_LOGIN_LOG A LEFT JOIN JCMS_USER B ON A.USER_ID = B.USER_ID
		WHERE 1 = 1
			<if test="!empty(user.userId)" > AND A.USER_ID = #{user.userId}</if>
			<if test="!empty(userLoginIdLike)" > AND B.USER_LOGIN_ID LIKE CONCAT('%', #{userLoginIdLike}, '%') </if>
			<if test="!empty(userNmLike)" > AND B.USER_NM LIKE CONCAT('%', #{userNmLike}, '%') </if>
			<if test="!empty(loginIpLike)" > AND A.LOGIN_IP LIKE CONCAT('%', #{loginIpLike}, '%') </if>
	</select>
	
	<insert id="insert" parameterType="loginLog" useGeneratedKeys="true" keyProperty="loginLogId" keyColumn="LOGIN_LOG_ID">
		INSERT INTO JCMS_LOGIN_LOG (
			USER_ID, LOGIN_IP, LOGIN_DT
		) VALUES (
			#{user.userId}, #{loginIp}, SYSDATE()
		)
	</insert>
	
	<update id="update" parameterType="loginLog">
		UPDATE JCMS_LOGIN_LOG
		SET LOGOUT_DT = NOW()
		WHERE LOGIN_LOG_ID = #{loginLogId}
	</update>

	<select id="countByDate"  parameterType="loginLogSearch" resultType="loginLogSearch">
		SELECT COUNT(LOGIN_COUNT) AS LOGIN_COUNT, SEARCH_DATE
		FROM (
		    (SELECT USER_ID AS LOGIN_COUNT, DATE_FORMAT(LOGIN_DT, '%Y-%m-%d') AS SEARCH_DATE FROM JCMS_LOGIN_LOG)
		    UNION ALL
		    (SELECT NULL AS LOGIN_COUNT, DATE_FORMAT(#{endSearchDt} , '%Y-%m-%d') - INTERVAL (A.A) DAY AS SEARCH_DATE
		    FROM (SELECT 0 AS A
				<foreach collection="indexList" item="item">
					UNION ALL SELECT ${item}
				</foreach>
		    ) AS A)
		) T
		WHERE
			1 = 1
			<if test="!empty(user.userId)" > AND USER_ID = #{user.userId}</if>
			<if test="startSearchDt != null" >
				<![CDATA[
				AND SEARCH_DATE >= STR_TO_DATE(CONCAT(#{startSearchDt}, ' 00:00:00'), '%Y-%m-%d')
				]]>
			</if>
			<if test="endSearchDt != null" >
				<![CDATA[
				AND SEARCH_DATE <= STR_TO_DATE(CONCAT(#{endSearchDt}, ' 23:59:59'), '%Y-%m-%d')
				]]>
			</if>
		GROUP BY SEARCH_DATE
		ORDER BY SEARCH_DATE DESC
	</select>

</mapper>
