<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.jcms.framework.menu.mapper.MenuRoleMapper">

	<sql id="tb"> JCMS_MNGR_MENU_ROLE </sql>
	<sql id="jtb"> JCMS_MNGR_MENU_ROLE </sql>
	<sql id="s"> SELECT * </sql>
	<sql id="l">
		SELECT ROLE_AUTH, MENU_ID
	</sql>
	<sql id="sf"> FROM <include refid="tb"/> </sql>
	<sql id="lf"> FROM <include refid="jtb"/> </sql>
	<sql id="sw">
		WHERE 1 = 1
	</sql>
	<sql id="lw">
		WHERE 1 = 1
			<if test="!empty(roleAuth)" > AND ROLE_AUTH = #{roleAuth} </if>
	</sql>
	<sql id="ord">
		<if test="!empty(sort) and !empty(sortOrd)"> ORDER BY ${sort} ${sortOrd} </if>
		<if test="pagingYn == true"> limit #{start}, #{length} </if>
	</sql>


	<select id="selectList" parameterType="menuRoleSearch" resultType="menuRole">
		<include refid="l"/>
		<include refid="lf"/>
		<include refid="lw"/>
		<include refid="ord"/>
	</select>
	
	<insert id="insert" parameterType="menuRole">
		INSERT INTO <include refid="tb"/> (
			ROLE_AUTH, MENU_ID
		) VALUES (
			#{roleAuth}, #{menuId}
		)
	</insert>

	<delete id="delete" parameterType="menuRole">
		DELETE FROM <include refid="tb"/>
		WHERE ROLE_AUTH = #{roleAuth}
	</delete>

</mapper>
