<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.jcms.framework.pgm.mapper.PgmMapper">

	<sql id="tb"> JCMS_PGM </sql>
	<sql id="jtb"> JCMS_PGM </sql>
	<sql id="s">
		SELECT PGM_ID ,PGM_NM ,PGM_DESC ,PGM_URL ,REC_ST ,REG_ID ,REG_DT ,UPD_ID ,UPD_DT
	</sql>
	<sql id="l">
		SELECT PGM_ID ,PGM_NM ,PGM_DESC ,PGM_URL ,REC_ST ,REG_ID ,REG_DT ,UPD_ID ,UPD_DT
	</sql>
	<sql id="sf"> FROM <include refid="tb"/> </sql>
	<sql id="lf"> FROM <include refid="jtb"/> </sql>
	<sql id="sw">
		WHERE DEL_DT IS NULL
			<if test="pgmId != null" > AND PGM_ID = #{pgmId} </if>
	</sql>
	<sql id="lw">
		WHERE DEL_DT IS NULL
		<if test="recSt != null" > AND REC_ST = #{recSt} </if>
		<if test="!empty(pgmNmLike)" > AND PGM_NM LIKE CONCAT('%', #{pgmNmLike}, '%') </if>
		<if test="!empty(pgmUrlLike)" > AND PGM_URL LIKE CONCAT('%', #{pgmUrlLike}, '%') </if>
	</sql>
	<sql id="ord">
		<if test="!empty(sort) and !empty(sortOrd)"> ORDER BY ${sort} ${sortOrd} </if>
		<if test="pagingYn == true"> limit #{start}, #{length} </if>
	</sql>


	<select id="select" parameterType="pgmSearch" resultType="pgm">
		<include refid="s"/>
		<include refid="sf"/>
		<include refid="sw"/>
	</select>
	
	<select id="selectList" parameterType="pgmSearch" resultType="pgm">
		<include refid="l"/>
		<include refid="lf"/>
		<include refid="lw"/>
		<include refid="ord"/>
	</select>
	
	<select id="count" parameterType="pgmSearch" resultType="java.lang.Integer">
		SELECT COUNT(PGM_ID)
		<include refid="lf"/>
		<include refid="lw"/>
	</select>

	<insert id="insert" parameterType="pgm">
		INSERT INTO <include refid="tb"/> (
			PGM_NM, PGM_DESC, PGM_URL, REC_ST, REG_ID, REG_DT
		) VALUES (
			#{pgmNm}, #{pgmDesc}, #{pgmUrl}, #{recSt}, #{regId}, SYSDATE()
		)
	</insert>
	
	<update id="update" parameterType="pgm">
		UPDATE <include refid="tb"/>
		SET <include refid="BaseSql.Update"/>
			, PGM_NM = #{pgmNm}
			, PGM_DESC = #{pgmDesc}
			, PGM_URL = #{pgmUrl}
			, REC_ST = #{recSt}
		WHERE PGM_ID = #{pgmId}
	</update>
	
	<update id="delete" parameterType="pgm">
		UPDATE <include refid="tb"/>
		SET <include refid="BaseSql.Delete"/>
		WHERE PGM_ID = #{pgmId}
	</update>

</mapper>
